.header-left{
    height: 100px; 
}
.header-right{
    height: 100px;
}
.box-c,.box-d,.box-e{
    height: 100px;
}
.big-box{
    height: 300px;
}
.box-f{
    height: 80px;
}
.box-g{height: 320px;}

.footer-section{
    height: 60px;
}